/************************************/
a {text-decoration:none}
a:link { color: blue; }
a:visited { color: blue;  } 
a:hover { color: blue; background: #ffff00;}

BODY {
  font-family: "Trebuchet MS", Arial, sans-serif;
  font-size: .95em;
  height: 100%;
  line-height: 150%;
}

p {  line-height: 150%;
  font-size: 0.95em;
}

h1, h2, h3, h4, h5 { 
    font-family: "Trebuchet MS", Arial, sans-serif;
    color: #000000;
}

li {margin: .4em 0;   font-size: 0.95em; line-height:150% } 

p.CompostBad {  color: red; }
p.CompostOK { color: black; }

textarea.bluey {background-color: #e0ffff; font-size: 1em}
textarea.pinky {background-color: #ffcccc; font-size: 1em}
input.bluey {background-color: #e0ffff; font-size: 1em}
input.pinky {background-color: #ffcccc; font-size: 1em}

div.tobytitle {
   font-weight: normal; 
   font-size: 30px;
   float:left;
   height: 50px;
}

div.tobyquotL {
   font-style:oblique; font-weight: normal; font-size: 14px;
   float:left;
   height: 30px;
}

div.tobyquotC {
   font-style:oblique; font-weight: normal; font-size: 12px;
   float:center;
   text-align: center;
}
div.tobyimg img
  {
  display:inline;
  margin:2px;
  padding:4px;
  border:1px solid #cccccc;
  float:left;
  }

.hr {
  height: 0px;
  margin: 0px;
  border-bottom: 1px solid #cccccc;
  font-size: 1px;
}

table.nice {
    border: 0px
    border-collapse: collapse;
    border-spacing: 0px;
    
    }
table.nice td {
    background-color: #F8F8FF;
    color: #000;
    padding: 4px;
    text-align: center;
    font-size: 12px;
    border: 1px #fff solid;
   }

table.pubeng {
    border: 0px
    border-collapse: collapse;
    border-spacing: 0px;
    }
table.pubeng td {
    background-color: #F8F8FF;
    color: #000;
    padding: 4px;
    text-align: left;
    font-size: 14px;
    border: 1px #fff solid;
   }

td.cim {
background-color: #F8F8FF;
text-align: center;
}

table.mo {
    border: 0px
    border-collapse: collapse;
    border-spacing: 0px;
    }

table.mo td {
    background-color: #ff00ff;
    color: #ffffff;
    padding: 2px;
    text-align: left;
    font-size: 16px;
    border: 1px #ff solid;
   }
